/* Body */
body{
    font-family: "arimo";
    font-size: 18px;
}

/* utility */


/* Variabili */

:root {
    --colore-primario: rgb(84, 180, 211);
}

/* button */

.btn {
    border-radius: 20px 20px 20px 20px;
    border: none;
}

.btn:hover {
    cursor: pointer;
    border: 3px solid var(--colore-primario);
}

/* img */

.bg-img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

.logo-sony{
    width: 70px;
}

.img-game-cover {
    max-width: 100%;
    padding: 3px;
    border-radius: 20px 20px 20px 20px;
}

.img-game-cover:hover {
    cursor: pointer;
    border: 3px solid var(--colore-primario);
    transform: scale(1.1);
    transition: 0.2s;
}

.img-overlay {
    height: 35px;
    width: 190px;
}

.img-it-takes-two-overlay {
    width: 230px;
    height: 160px;
}

.img-main-item {
    width: 100%;
    height: auto;
}

.img-item {
    width: 100%;
    height: auto;
}

.img-ps-plus {
    width: 300px;
    height: auto;
}

.img-ps-plus-games {
    width: 90%;
    height: auto;
    display: none;
}

.img-ps-now {
    width: 300px;
    height: auto;
}

.img-ps-now-games {
    width: 90%;
    height: auto;
    display: none;
}

.img-social-media{
    width: 100px;
}

.img-social-media:hover{
    cursor: pointer;
    border-bottom: 3px solid var(--colore-primario);
    transform: scale(1.1);
    transition: 0.2s;
}

.img-logo-footer{
    width: 100px;
}

.img-lang-globe{
    width: 20px;
}

.img-sie-logo{
    width: 160px;
}

/* Sezione 1: returnal */

.overlay-container {
    top: 40%;
    left: 0;
}


/* Sezione 2 */

.item-container {
    width: 250px;
    height: 285px;
}

.item-container:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--colore-primario);
    transform: scale(1.1);
    transition: 0.2s;
}

.item-title {
    display: none;
}

/* Sezione 3 */

.it-takes-tw-overlay-container {
    top: 10%;
    left: 0;
}

/* Sezione 4 */

.new-game-cover:hover {
    cursor: pointer;
    border: 3px solid var(--colore-primario);
    transform: scale(1.1);
    transition: 0.2s;
}

/* Sezione 7 */

.discount-card:hover {
    cursor: pointer;
    border-bottom: 3px solid var(--colore-primario);
    transform: scale(1.1);
    transition: 0.2s;
}

/* Footer */

.country{
    transform: translateY(15%);
}





/* Media Query 768px */

@media screen and (min-width:768px) {
    .img-ps-plus-games {
        display: inline;
    }

    .img-ps-now-games {
        display: inline;
    }


}

/* Media Query 992px */

@media screen and (min-width:992px) {
    .returnal-description {
        max-width: 30%;
    }

    .item-container {
        padding: 0 40px;
    }

    .item-title {
        display: block;
    }
}